@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
  font-family: "Mukta", sans-serif;
}
::-webkit-scrollbar-track {
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(7.95deg, #00B5D8 -3.4%, #000080 114.66%);
  border-radius: 12px;
  outline: unset;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  border-radius: 12px;
  background: transparent !important;
}